@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: theme("colors.white");
    --foreground: theme("colors.m.900");
    --primary: theme("colors.p.700");
    --primary-foreground: theme("colors.p.50");
    --muted: theme("colors.m.100");
    --muted-foreground: theme("colors.m.500");
    --border: theme("colors.m.200");
    --ring: theme("colors.p.500");

    --radius: 0.5rem;
  }

  .dark {
    --background: theme("colors.m.900");
    --foreground: theme("colors.m.50");
    --primary: theme("colors.p.50");
    --primary-foreground: theme("colors.p.700");
    --muted: theme("colors.m.800");
    --muted-foreground: theme("colors.m.400");
    --border: theme("colors.m.600");
    --ring: theme("colors.p.500");
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

@layer components {
  input[type="text"],
  input[type="number"] {
    @apply w-full rounded-lg border border-zinc-300 px-3 py-2 outline-zinc-900 placeholder:text-zinc-400;
  }

  button {
    @apply flex items-center justify-center gap-1 rounded-lg px-3 py-1 outline-1 -outline-offset-1;
  }
  button[data-type="primary"] {
    @apply bg-zinc-900 text-zinc-50 hover:opacity-70 disabled:bg-zinc-400;
  }
  button[data-type="outline"] {
    @apply text-zinc-500 outline hover:opacity-70 disabled:bg-zinc-400;
  }
}
